<!DOCTYPE html>
{% load static %}
<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>{% block title %}{% endblock %}</title>
		<link rel='stylesheet' type='text/css' href="{% static 'lineup_app/bootstrap.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static 'lineup_app/bootstrap-grid.css' %}">
		<link rel='stylesheet' type='text/css' href="{% static 'lineup_app/bootstrap-reboot.css' %}">
<style>
{% block css %}{% endblock %}
.footer{
	text-align: center;
}
.greeting{
	color: #f0f0f0;
}
</style>
	</head>
	<body>
		<nav class='navbar navbar-expand-sm navbar-dark bg-dark'>
			<a class='navbar-brand' href='/'>Bleacher Drum</a>
			<button class='navbar-toggler' type='button' data-toggle='collapse' aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class='navbar-toggler-icon'></span>
			</button>
			<div class='collapse navbar-collapse' id='navbarNav'>
				<ul class='navbar-nav ml-auto'>
					<li class='nav-item'><a class='nav-link' href='/teams/'>Teams</a></li>
					<li class='nav-item'><a class='nav-link' href='/players/'>Players</a></li>
					<li class='nav-item'><a class='nav-link' href='/games/'>Games</a></li>
					<li class='nav-item'><a class='nav-link' href='#'>Stats</a></li>	
					<li class='nav-item'><a class='nav-link' href='#'>About</a></li>
					{% if user.is_authenticated %}
					<li class='nav-item greeting'>Hello, {{ user.username }}</li>
					<li class='nav-item'><a class='nav-link' href='/accounts/logout/'>logout</a></li>
					{% else %}
					<li class='nav-item'><a class='nav-link' href='/register/'>create account</a></li>
					<li class='nav-item'><a class='nav-link' href='/accounts/login/'>login</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>		
		<div class='container'>
			<div class='top-row'>
				<canvas id='position-chart' class='' width='150px' height='125px'></canvas>
				<div class='' id='scoreboard-div'>	
					<h3 id='gameday'>{{ game.date }}</h3>
					<table class='table table-bordered'>
						<tbody>
							<tr>
								<th id='away-team-sb'>{{ game.team_away }}</th>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<th>&nbsp;</th>
							</tr>
							<tr>
								<th id='home-team-sb'>{{ game.team_home }}</th>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<th>&nbsp;</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class='container'>
		{% block content %}{% endblock %}
		</div>
		<div class='footer'>
			<a href='http://127.0.0.1:8000/admin/'>admin page</a>
		</div>
		<script src="{% static 'lineup_app/jquery.js' %}"></script>
		<script src="{% static 'lineup_app/bootstrap.js' %}"></script>
		<script src="{% static 'lineup_app/bootstrap.bundle.js' %}"></script>
		{% block js %}{% endblock %}
	</body>
</html>


