{% extends 'lineup_app/header.html' %}
{% load static %}
{% block title %}new game{% endblock %}

{% block css %}
.top-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#scoreboard-div{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
}

.btn-success{
	margin-top: 5px;
}
{% endblock %}

{% block content %}
<h3>new game</h3>
<form class='lineup-card form-group' method='post'>
	{% csrf_token %}
	<ul class='dev'>
		{{ form.as_ul }}
	</ul>
	<input type='submit' value='save' class='btn btn-primary'>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'lineup_app/score-box.js' %}"></script>
<script src="{% static 'lineup_app/realtime-scoreboard.js' %}"></script>
{% endblock %}
