{% extends 'lineup_app/header.html' %}
{% load static %}
{% block title %}new team{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<h3>create a new team</h3>
<form class='lineup-card form-group' method='post'>
	{% csrf_token %}
	<ul class='list-group' id='modelform-team'>
		{{ form.as_ul }}
	</ul>
	<input type='submit' value='save' class='btn btn-primary'>
</form>
{% endblock %}

{% block js %}
<script>
	const items = document.querySelectorAll('#modelform-team li');
	items.forEach(item => {
		item.classList.add('list-group-item');
	});
</script>
{% endblock %}
