{% extends 'lineup_app/header.html' %}
{% load static %}

{% block title %}set pitchers{% endblock %}

{% block css %}

.btn-success{
	margin-top: 5px;
}

{% endblock %}

{% block content %}
{% if ctx == 'away' %}
<h3>Set {{ game.team_away }} Pitchers</h3>
{% else %}
<h3>Set {{ game.team_home }} Pitchers</h3>
{% endif %}
<form class='lineup-card form-group' method='post' action='../save_lineup/{{ ctx }}/'>
	{% csrf_token %}
	<ol class='dev'>
		{% for slot in slots %}
		<li>
			<select id='player{{ slot }}' class='play-select'>
				<option value=''>select player</option>
				{% for player in players %}
				<option value={{ player.id }}>{{ player.name }}</option>
				{% endfor %}
			</select>
			<input id='set{{ slot }}' class='set-btn btn btn-success' type='button' value='set'>
		</li>
		{% endfor %}
	</ol>
	<input type='submit' value='set lineup' class='btn btn-primary'>
	<input type='hidden' id='lineup-json' name='hidden'></input value=''>
</form>
{% endblock %}

{% block js %}
<script src="{% static 'lineup_app/pitchers.js' %}"></script>
{% endblock %}


