{% extends 'lineup_app/header.html' %}
{% load static %}
{% block title %}set lineup{% endblock %}
{% block css %}
.top-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#scoreboard-div{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
}

.btn-success{
	margin-top: 5px;
}
{% endblock %}
{% block content %}
{% if ctx == "away" %}
<h3>Set {{ game.team_away }} Lineup</h3>
{% else %}
<h3>Set {{ game.team_home }} Lineup</h3>
{% endif %}
<form class='lineup-card form-group' method='post' action='../../save_lineup/{{ ctx }}/'>
	{% csrf_token %}
	<ol class=''>
		{% for slot in slots %}
		<li class=''>
			<select id='player{{ slot }}' class='play-select'>
				<option value=''>select player</option>
				{% for player in players %}
				<option value='{{ player.id }}'>{{ player.name }}</option>
				{% endfor %}
			</select>
			<select id='position{{ slot }}' class='pos-select'>
				<option value=''>pos</option>
				{% for position in positions %}
				<option value='{{ position }}'>{{ position }}</option>
				{% endfor %}
			</select>
			<input id='set{{ slot }}' class='set-btn btn btn-success' type='button' value='set'>
		</li>
		{% endfor %}
	</ol>
	<input type='submit' value='set lineup' class='btn btn-primary'>
	<a href='/new_player' class='btn btn-secondary'>add a new player</a>
	<input type='hidden' id='lineup-json' name='hidden' value=''></input>
</form>
{% endblock %}
{% block js %}
<script src="{% static 'lineup_app/score-box.js' %}"></script>
<script src="{% static 'lineup_app/lineup-setter.js' %}"></script>
{% endblock %}
