{% extends 'lineup_app/header.html' %}
{% load static %}
  
{% block title %}{{ team }}{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<table class='table table-dark'>
    <thead>
        <tr>
            <th>Name</th>
            <th>#</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.num }}</td>
            <td>{{ player.team }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block js %}
{% endblock %}