{% extends 'lineup_app/header.html' %}
{% load static %}
{% block title %}teams{% endblock %}

{% block css %}
.top-row{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#scoreboard-div{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-around;
}

.btn-success{
	margin-top: 5px;
}
{% endblock %}

{% block content %}
<h3>teams</h3>
<ul class='list-group'>
    {% for team in teams %}
    <li class='list-group-item'>{{ team }}</li>
    {% endfor %}
</ul>
{% endblock %}

{% block js %}
<script src="{% static 'lineup_app/score-box.js' %}"></script>
<script src="{% static 'lineup_app/realtime-scoreboard.js' %}"></script>
{% endblock %}